@use "../util" as *;
@use "../globals/fonts.scss" as *;

.articles{
    background-color: var(--veryLightGray);
}

.article{

    &__content{

    }

    &__grid{
        display: grid;
        gap: 3rem;
        // grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));  
        
        grid-template-columns: 1fr;
        @include breakpoint(medium){
            grid-template-columns: repeat(2, 1fr);
        }
        @include breakpoint(large){
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__item{
        border-radius: .5rem;
        background-color: var(--white);
        overflow: hidden;
        box-shadow: 0 .3rem 1.2rem rgba(0, 0, 0,.15);
        transition: transform 200ms ease-in-out;

        &:hover{
            transform: scale(1.05);
        }
    }

    &__image{
        height: 20rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    &__text{
        padding: 3rem 3rem 4rem 3rem;
        color: var(--grayishBlue);
        @include breakpoint(medium){
            padding: 3rem 2.5rem;
        }
    }

    &__author{
        font-size: 1rem;
        margin-bottom: 1.2rem;
    }

    &__title{
        font-size: 1.7rem;
        line-height: 1.2;
        color: var(--darkBlue);
        margin-bottom: .8rem;
    }

    &__description{
        font-size: 1.3rem;
    }
}